<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PRODUCT</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header"> 
        <nav class="main-headernav">
            <ul  class="main-header__item_list">
                <li  class="main-header__item"><a  href="/">SHOP</a></li>
                    <li  class="main-header__item"><a class="active" href="/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
       </header>
   <main>
    <form class="product-form" action="/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            </div>
        <input type="text" name="title" id="title">
        <button type="submit">ADD PRODUCT</button>
   </main>
</body>
</html>